<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="web tests">

    <!-- Run test method on group "selenium" only -->
    <test name="user">

        <groups>
            <run>
                <include name="web"/>
            </run>
        </groups>

        <classes>
            <class name="org.poc.UserAuthenticationTest"/>
        </classes>

    </test>

</suite>